<!--*---------------- [**] Register page ----------------*-->
<br><br>
<section class="auth">
    <div class="container">
        <a href="/" class="back_btn">
            <i class='bx bx-arrow-back'></i>
            <span>Back</span>
        </a>
        <div class="auth_container">
            <div class="titles">
                <h3>Welcome to Share24!</h3>
                <p>Fill in your email to log in or sign in</p>
            </div>
            <% if(messages.error){ %>
                <div class="error_msg text-center">
                    <p class="text-danger">
                        <%= messages.error %>
                    </p>
                </div>
                <% } %>
                    <form action="/login" method="POST">
                        <div class="field-wrapper">
                            <input id="email" type="email" name="email" placeholder="Email" value="<%= messages.email %>">
                            <label>Email</label>
                        </div>
                        <div class="field-wrapper">
                            <i id="eyeIcon" class='auth_show_pass toggle-password bx bx-hide'
                                toggle=".password-field"></i>
                            <input class="password-field" type="password" name="password" placeholder="Password">
                            <label>Password</label>
                        </div>
                        <a href="/register" class="auth_link">Don't have account?</a>
                        <div class="submit_btn">
                            <button type="submit">Sign-up</button>
                        </div>
                    </form>
        </div>
    </div>
</section>