<!--*---------------- [2] Landing page ----------------*-->
<section class="landing_page">
    <div class="titles">
        <h3>Create your own sharing space in a flash</h3>
        <h5>Please login or register before using</h5>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="feature_zoon">
                    <h5><i class='bx bx-star'></i>Highlighted features !!</h5>
                    <ul class="feature_list">
                        <li><i class='bx bx-check-double'></i>Up to 2 GB.</li>
                        <li><i class='bx bx-check-double'></i>Use to free.</li>
                        <li><i class='bx bx-check-double'></i>Expire 24 Days.</li>
                        <li><i class='bx bx-check-double'></i>Download multiple files.</li>
                        <li><i class='bx bx-check-double'></i>Share download link with email.</li>
                        <li><i class='bx bx-check-double'></i>Extend expired date up to 40 days.</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 text-center order-lg-last order-md-first order-sm-first order-first">
                <img class="img-fluid hero_img" src="/img/hero-1.svg" alt="hero image">
            </div>
        </div>
    </div>
</section>