<!--*---------------- [2] Landing page ----------------*-->
<!-- Change home page after login -->
<% if(user){ %>
    <section class="home_page">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h5>Recent added files</h4>
                        <div class="file_table">
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Size</th>
                                        <th scope="col">Last Modified</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="file_name_td">
                                            <span class="ext">PDF</span>
                                            <span class="file_name">Brande.pdf</span>
                                        </td>
                                        <td>42 MB</td>
                                        <td>Aug 26, 2020</td>
                                        <td>
                                            <div class="dropdown">
                                                <i class='bx bx-dots-horizontal-rounded' role="button"
                                                    data-bs-toggle="dropdown" aria-expanded="false"
                                                    id="dropdownMenuLink"></i>

                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <i class='bx bx-cloud-download'></i> Download
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a id="homeShareModal" class="dropdown-item" href="#"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#recentFileShareModal">
                                                            <i class='bx bx-share-alt'></i> Share
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <i class='bx bxs-trash'></i> Delete
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="file_name_td">
                                            <span class="ext">PDF</span>
                                            <span class="file_name">Brande.pdf</span>
                                        </td>
                                        <td>42 MB</td>
                                        <td>Aug 26, 2020</td>
                                        <td>
                                            <div class="dropdown">
                                                <i class='bx bx-dots-horizontal-rounded' role="button"
                                                    data-bs-toggle="dropdown" aria-expanded="false"
                                                    id="dropdownMenuLink"></i>

                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <i class='bx bx-cloud-download'></i> Download
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a id="homeShareModal" class="dropdown-item" href="#"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#recentFileShareModal">
                                                            <i class='bx bx-share-alt'></i> Share
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <i class='bx bxs-trash'></i> Delete
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="file_name_td">
                                            <span class="ext">PDF</span>
                                            <span class="file_name">Brande.pdf</span>
                                        </td>
                                        <td>42 MB</td>
                                        <td>Aug 26, 2020</td>
                                        <td>
                                            <div class="dropdown">
                                                <i class='bx bx-dots-horizontal-rounded' role="button"
                                                    data-bs-toggle="dropdown" aria-expanded="false"
                                                    id="dropdownMenuLink"></i>

                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <i class='bx bx-cloud-download'></i> Download
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a id="homeShareModal" class="dropdown-item" href="#"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#recentFileShareModal">
                                                            <i class='bx bx-share-alt'></i> Share
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <i class='bx bxs-trash'></i> Delete
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="file_name_td">
                                            <span class="ext">PDF</span>
                                            <span class="file_name">Brande.pdf</span>
                                        </td>
                                        <td>42 MB</td>
                                        <td>Aug 26, 2020</td>
                                        <td>
                                            <div class="dropdown">
                                                <i class='bx bx-dots-horizontal-rounded' role="button"
                                                    data-bs-toggle="dropdown" aria-expanded="false"
                                                    id="dropdownMenuLink"></i>

                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <i class='bx bx-cloud-download'></i> Download
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a id="homeShareModal" class="dropdown-item" href="#"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#recentFileShareModal">
                                                            <i class='bx bx-share-alt'></i> Share
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <i class='bx bxs-trash'></i> Delete
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="file_name_td">
                                            <span class="ext">PDF</span>
                                            <span class="file_name">Brande.pdf</span>
                                        </td>
                                        <td>42 MB</td>
                                        <td>Aug 26, 2020</td>
                                        <td>
                                            <div class="dropdown">
                                                <i class='bx bx-dots-horizontal-rounded' role="button"
                                                    data-bs-toggle="dropdown" aria-expanded="false"
                                                    id="dropdownMenuLink"></i>

                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <i class='bx bx-cloud-download'></i> Download
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a id="homeShareModal" class="dropdown-item" href="#"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#recentFileShareModal">
                                                            <i class='bx bx-share-alt'></i> Share
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <i class='bx bxs-trash'></i> Delete
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
                <div class="col-lg-6">
                    <h5>Recent share files</h4>
                        <div class="file_table email_table">
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col">Email</th>
                                        <th scope="col">File name</th>
                                        <th scope="col">Send Time</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="file_name_td">
                                            <span class="file_name">bidhandev.d@gmail.com</span>
                                        </td>
                                        <td>
                                            <span
                                                class="share_file_name">Branrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrde.pdf</span>
                                        </td>
                                        <td>Aug 26, 2020</td>
                                        <td>
                                            <div class="dropdown">
                                                <i class='bx bx-dots-horizontal-rounded' role="button"
                                                    data-bs-toggle="dropdown" aria-expanded="false"
                                                    id="dropdownMenuLink"></i>

                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                                                    <li>
                                                        <a id="homeViewModal" class="dropdown-item" href="#"
                                                            data-bs-toggle="modal" data-bs-target="#recentViewModal">
                                                            <i class='bx bx-show-alt'></i> View
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <i class='bx bxs-trash'></i> Delete
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="file_name_td">
                                            <span class="file_name">bidhandev.d@gmail.com</span>
                                        </td>
                                        <td>
                                            <span
                                                class="share_file_name">Branrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrde.pdf</span>
                                        </td>
                                        <td>Aug 26, 2020</td>
                                        <td>
                                            <div class="dropdown">
                                                <i class='bx bx-dots-horizontal-rounded' role="button"
                                                    data-bs-toggle="dropdown" aria-expanded="false"
                                                    id="dropdownMenuLink"></i>

                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                                                    <li>
                                                        <a id="homeViewModal" class="dropdown-item" href="#"
                                                            data-bs-toggle="modal" data-bs-target="#recentViewModal">
                                                            <i class='bx bx-show-alt'></i> View
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <i class='bx bxs-trash'></i> Delete
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="file_name_td">
                                            <span class="file_name">bidhandev.d@gmail.com</span>
                                        </td>
                                        <td>
                                            <span
                                                class="share_file_name">Branrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrde.pdf</span>
                                        </td>
                                        <td>Aug 26, 2020</td>
                                        <td>
                                            <div class="dropdown">
                                                <i class='bx bx-dots-horizontal-rounded' role="button"
                                                    data-bs-toggle="dropdown" aria-expanded="false"
                                                    id="dropdownMenuLink"></i>

                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                                                    <li>
                                                        <a id="homeViewModal" class="dropdown-item" href="#"
                                                            data-bs-toggle="modal" data-bs-target="#recentViewModal">
                                                            <i class='bx bx-show-alt'></i> View
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <i class='bx bxs-trash'></i> Delete
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="file_name_td">
                                            <span class="file_name">bidhandev.d@gmail.com</span>
                                        </td>
                                        <td>
                                            <span
                                                class="share_file_name">Branrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrde.pdf</span>
                                        </td>
                                        <td>Aug 26, 2020</td>
                                        <td>
                                            <div class="dropdown">
                                                <i class='bx bx-dots-horizontal-rounded' role="button"
                                                    data-bs-toggle="dropdown" aria-expanded="false"
                                                    id="dropdownMenuLink"></i>

                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                                                    <li>
                                                        <a id="homeViewModal" class="dropdown-item" href="#"
                                                            data-bs-toggle="modal" data-bs-target="#recentViewModal">
                                                            <i class='bx bx-show-alt'></i> View
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <i class='bx bxs-trash'></i> Delete
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="file_name_td">
                                            <span class="file_name">bidhandev.d@gmail.com</span>
                                        </td>
                                        <td>
                                            <span
                                                class="share_file_name">Branrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrde.pdf</span>
                                        </td>
                                        <td>Aug 26, 2020</td>
                                        <td>
                                            <div class="dropdown">
                                                <i class='bx bx-dots-horizontal-rounded' role="button"
                                                    data-bs-toggle="dropdown" aria-expanded="false"
                                                    id="dropdownMenuLink"></i>

                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                                                    <li>
                                                        <a id="homeViewModal" class="dropdown-item" href="#"
                                                            data-bs-toggle="modal" data-bs-target="#recentViewModal">
                                                            <i class='bx bx-show-alt'></i> View
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <i class='bx bxs-trash'></i> Delete
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
                <div class="col-lg-6 mt-5">
                    <h5>Files expire in a few days</h4>
                        <div class="file_table">
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Size</th>
                                        <th scope="col">Last Modified</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="file_name_td">
                                            <span class="ext">PDF</span>
                                            <span class="file_name">Brande.pdf</span>
                                        </td>
                                        <td>42 MB</td>
                                        <td>Aug 26, 2020</td>
                                        <td>
                                            <div class="dropdown">
                                                <i class='bx bx-dots-horizontal-rounded' data-bs-toggle="dropdown"></i>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="#"> <i
                                                                class='bx bx-cloud-download'></i> Download </a></li>
                                                    <li>
                                                        <a class="dropdown-item" href="#"> Copy Folder
                                                        </a>
                                                        <ul class="submenu dropdown-menu">
                                                            <li>
                                                                <a class="dropdown-item" href="#">Submenu item 1</a>
                                                            </li>
                                                            <li>
                                                                <a class="dropdown-item" href="#">Submenu item 2</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <i class='bx bx-share-alt'></i> Share
                                                        </a>
                                                    </li>
                                                    <li><a class="dropdown-item" href="#">
                                                            <i class='bx bxs-trash'></i> Delete </a>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>

        <!--  <div class="modal fade show" id="recentFileShareModal" tabindex="-1" aria-labelledby="recentFileShareModalLabel"
            style="padding-right: 17px; display: block;" aria-modal="true" role="dialog"> -->


        <!-- Recent file share modal -->
        <div class="modal fade" id="recentFileShareModal" tabindex="-1" aria-labelledby="recentFileShareModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="modal_header">
                            <h5>Share this file with email.</h5>
                            <i class='bx bx-x' type="button" data-bs-dismiss="modal" aria-label="Close"></i>
                        </div>

                        <div class="modal_fileInfo">
                            <img src="/img/img-1.jpeg" alt="">

                            <div class="file_info">
                                <h6>nameRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR</h6>
                                <div class="file_type">
                                    <p><span>Type: </span>JPG</p>
                                    <p><span>Size: </span>3MB</p>
                                </div>
                            </div>
                        </div>

                        <div class="form">
                            <p class="title">Enter receiver email</p>
                            <div class="field-wrapper">
                                <input id='sendMail' type="email" placeholder="Email address" autofocus>
                                <label>Email address</label>
                            </div>
                            <div class="submit_btn">
                                <button type="button">Send</button>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>


        <!-- Recent email view modal -->
        <div class="modal fade" id="recentViewModal" tabindex="-1" aria-labelledby="recentViewModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="modal_header">
                            <h5>Send file info</h5>
                            <i class='bx bx-x' type="button" data-bs-dismiss="modal" aria-label="Close"></i>
                        </div>

                        <div class="modal_fileInfo">
                            <img src="/img/img-1.jpeg" alt="">
                            <div class="file_info">
                                <h6>nameRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR</h6>
                                <div class="file_type">
                                    <p><span>Type: </span>JPG</p>
                                    <p><span>Size: </span>3MB</p>
                                </div>
                                <p class="sending_time"><span class="gray">Sending Time: </span> Aug 26, 2020</p>
                            </div>
                        </div>

                        <ul class="mt-5">
                            <li class="mb-2"><b><span class="gray">Sender : </span>bidhan@gmail.com</b></li>
                            <li><b><span class="gray">Receiver : </span>bidhan@gmail.com</b></li>
                        </ul>


                    </div>
                </div>
            </div>
        </div>


    </section>
    <div class="cc"></div>
    <% } else{ %>
        <section class="landing_page">
            <div class="titles">
                <h3>Create your own sharing space in a flash</h3>
                <h5>Please login or register before using</h5>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="feature_zoon">
                            <h5><i class='bx bx-star'></i>Highlighted features !!</h5>
                            <ul class="feature_list">
                                <li><i class='bx bx-check-double'></i>Up to 2 GB.</li>
                                <li><i class='bx bx-check-double'></i>Use to free.</li>
                                <li><i class='bx bx-check-double'></i>Expire 24 Days.</li>
                                <li><i class='bx bx-check-double'></i>Download multiple files.</li>
                                <li><i class='bx bx-check-double'></i>Share download link with email.</li>
                                <li><i class='bx bx-check-double'></i>Extend expired date up to 40 days.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 text-center order-lg-last order-md-first order-sm-first order-first">
                        <img class="img-fluid hero_img" src="/img/hero-1.svg" alt="hero image">
                    </div>
                </div>
            </div>
        </section>
        <% } %>

            <script type="text/javascript">
                //	window.addEventListener("resize", function() {
                //		"use strict"; window.location.reload(); 
                //	});


                document.addEventListener("DOMContentLoaded", function () {


                    /////// Prevent closing from click inside dropdown
                    document.querySelectorAll('.dropdown-menu').forEach(function (element) {
                        element.addEventListener('click', function (e) {
                            e.stopPropagation();
                        });
                    })



                    // make it as accordion for smaller screens
                    if (window.innerWidth < 992) {

                        // close all inner dropdowns when parent is closed
                        document.querySelectorAll('.navbar .dropdown').forEach(function (everydropdown) {
                            everydropdown.addEventListener('hidden.bs.dropdown', function () {
                                // after dropdown is hidden, then find all submenus
                                this.querySelectorAll('.submenu').forEach(function (everysubmenu) {
                                    // hide every submenu as well
                                    everysubmenu.style.display = 'none';
                                });
                            })
                        });

                        document.querySelectorAll('.dropdown-menu a').forEach(function (element) {
                            element.addEventListener('click', function (e) {

                                let nextEl = this.nextElementSibling;
                                if (nextEl && nextEl.classList.contains('submenu')) {
                                    // prevent opening link if link needs to open dropdown
                                    e.preventDefault();
                                    console.log(nextEl);
                                    if (nextEl.style.display == 'block') {
                                        nextEl.style.display = 'none';
                                    } else {
                                        nextEl.style.display = 'block';
                                    }

                                }
                            });
                        })
                    }
                    // end if innerWidth

                });
                // DOMContentLoaded  end
            </script>