/*--- Variables ---*/
// Color
$primary-color: #f9b544;
$text-gray: #6b6b6b;
$pure: #ffff;
$primary-bg: #fafafa;
// Font family
$poppins: "Poppins", sans-serif;

// Box shadow
$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

// Transition
$smooth: 0.2s ease;
